.row {
  display: flex;
  gap: 5px;
  margin: 10px 0;
}

.form-group {
  width: 100%;
}

.row-items {
  display: flex;
  gap: 5px;
  margin: 10px 0;
  justify-content: space-between;
  align-items: baseline;
}

table {
  border-collapse: collapse;
  margin: 25px auto;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 95%;
}

table thead th {
  text-align: left;
}

th,
td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #3f51b5;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

.checked {
  text-decoration: line-through;
  opacity: 0.7;
}