{% extends 'base.html' %}
{% block content %}
<div class="w3-card-4 w3-margin-top w3-mobile" style="width: 50%;margin: auto;">
    <div class="w3-container w3-theme">
        <h2>Welcome, {{session.username}}</h2>
    </div>
    <form class="w3-container" method="post" autocomplete="off">
        <p>
            <label class="w3-text-theme" for="username"><b>Username</b></label>
            <input required class="w3-input w3-border w3-theme-l4" name="username" type="text"
                value="{{session.username}}">
        </p>
        <p>
            <a class="w3-btn w3-theme-l3" href="/logout">Log Out</a>
        </p>
    </form>
</div>
{% endblock content %}