{% extends 'base.html' %}
{% block content %}

<div class="w3-card-4 w3-margin-top responsive-form">
    <div class="w3-theme header-row">
        <h2>Edit {{list[1]}}</h2>
        <button type="button" id="add-item" class="w3-btn w3-theme-l1">New Item</button>
    </div>
    <form class="w3-container w3-mobile" method="post" autocomplete="off" style="margin-top: 5px;">
        <input id="length" type="hidden" name="length" value="{{length(list_items)}}">
        <input id="startingLength" type="hidden" name="startingLength" value="{{length(list_items)}}">
        <div class="row w3-card w3-padding">
            <!-- <div class="row">
                <label for="emoji">Emoji</label>
                <input class="row-item" type="text" name="emoji" value="{{decode(list[2])}}" style="width: 4ch;">
                <label for="list-name">List Name</label>
                <input class="row-item" type="text" name="list-name" value="{{list[1]}}">
            </div> -->
            <div class="row">
                <p>Emoji <input type="text" name="emoji" value="{{decode(list[2])}}" style="width: 5ch;"></p>
                <p>List Name <input name="list-name" type="text" value="{{list[1]}}"></p>
            </div>
        </div>
        {% for idx, item in enumerate(list_items) %}
        <div class="row w3-card w3-padding w3-mobile">
            <input type="hidden" name="item-id-{{idx+1}}" value="{{item[0]}}">
            <div class="form-group">
                <label for="item-name">Item Name</label>
                <input class='row-item' name="item-name-{{idx+1}}" value="{{item[2]}}">
            </div>
            <div class="form-group">
                <label for="item-name">Item Link</label>
                <input class='row-item' name="item-link-{{idx+1}}" value="{{item[3]}}">
            </div>
            <div class="form-group">
                <label for="item-price">Item Price</label>
                <input class='row-item' name="item-price-{{idx+1}}" value="{{item[4]}}">
            </div>
            <div class="form-group">
                <label for="item-desc">Item Description</label>
                <input class='row-item' name="item-description-{{idx+1}}" value="{{item[5]}}">
            </div>
        </div>
        {% endfor %}
        <div id="new-items"></div>
        <div class="w3-margin-bottom">
            <button type="submit" class="w3-btn w3-theme">Save Changes</button>
        </div>
    </form>
</div>
<br>

<script>
    document.getElementById("add-item").addEventListener("click", function () {
        var itemCount = parseInt(document.getElementById("length").value);
        var newItemcount = itemCount + 1;
        document.getElementById("length").value = newItemcount;

        var newItemDiv = document.createElement("div");
        newItemDiv.setAttribute('class', "row w3-card w3-padding");
        newItemDiv.innerHTML = `
            <div class="form-group">
                <label for="item-name">Item Name</label>
                <input class='row-item' name="item-name-${newItemcount}" required>
            </div>
            <div class="form-group">
                <label for="item-name">Item Link</label>
                <input class='row-item' name="item-link-${newItemcount}" required>
            </div>
            <div class="form-group">
                <label for="item-price">Item Price</label>
                <input class='row-item' name="item-price-${newItemcount}" required>
            </div>
            <div class="form-group">
                <label for="item-desc">Item Description</label>
                <input class='row-item' name="item-description-${newItemcount}" required>
            </div>
        `;

        document.getElementById("new-items").appendChild(newItemDiv);
    });
</script>

{% endblock content %}